<div class="graph-data-container">
   <svg class="graph-svg" #svgElementIdentifier>
      <svg:g>
         
         <svg:path [attr.d]="svgPath" stroke="url(#myGradient)" stroke-width="5" fill="none" />
         <svg:path [attr.d]="svgPathCalories" stroke="#cad6f1" stroke-width="2" fill="none" />

         <svg:circle *ngFor="let data of normalizedPositions; let idx = index" [attr.cx]="data[0]" [attr.cy]="data[1]"
            r="6" stroke-width="3" fill="#8393ca">
         </svg:circle>

         <svg:circle *ngFor="let data of normalizedPositions; let idx = index" [attr.cx]="data[0]" [attr.cy]="data[1]"
            r="5" stroke-width="3" fill="#cad6f1">
            <title> {{caloriesByDay[idx][1] | weekday}} - {{caloriesByDay[idx][2]}} - {{caloriesByDay[idx][0]}}
               Calories</title>
         </svg:circle>

      </svg:g>
      <defs>
         <linearGradient id="myGradient" gradientTransform="rotate(90)">
            <stop [attr.offset]="redGradientPart" stop-color="#ffc66a" />
            <stop [attr.offset]="greenGradientPart" stop-color="#8393ca" />
            <stop offset="100%" stop-color="#8393ca" />
         </linearGradient>
      </defs>
   </svg>
</div>