<div class="dashboard-container">

   <h2 class="dashboard-title">Last {{displayedTimeSpan}} Days - {{userCalories}} Calories</h2>

   <app-graph class="graph" [userTargetCalories]="userCalories"
      [caloriesByDayObservable]="graphDataSubject.asObservable()" [setSliderMaxValue]="setSliderMaxValue.bind(this)"
      [setSliderValue]="setSliderValue.bind(this)"
      [targetCaloriesValueObservable]="targetCaloriesValueSubject.asObservable()"></app-graph>

   <mat-slider  class="calories-slider" (input)="caloriesChangeSubject.next($event)" vertical thumbLabel
      [min]="sliderMinValue" [max]="sliderMaxValue" [value]="sliderValue"></mat-slider>

   <mat-slider class="days-slider" (input)="daysChangeSubject.next($event)" thumbLabel min="6" max="90"
      value="7">
   </mat-slider>

</div>