@import "../../../../../material.theme.scss";

.graph {
  grid-area: graph;
}

.calories-slider {
  grid-area: calories-slider;
  height: 300px;
}

.days-slider {
  grid-area: days-slider;
  width: 80%;
  margin: auto;
}

h2 {
  color: mat-color($custom, custom-theme-dark-blue);
  width: 90%;
}

.dashboard-title {
  grid-area: title;
  font-weight: bold;
  margin: 18px auto;
}

.dashboard-container {
  display: grid;
  grid-template-rows: 5% 85% 5%;
  grid-template-columns: auto 40px;
  grid-template-areas:
    "title title"
    "graph calories-slider"
    "days-slider days-slider";

  @media (min-width: 769px) {
    display: grid;
    grid-template-rows: 5% 90% auto;
    grid-template-columns: 95% auto;
    grid-template-areas:
      "title . "
      "graph calories-slider"
      "days-slider . ";
  }
}
