@import "../../../../styles.scss";

mat-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

.header-main-title {
  color: white;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  height: 36px;
}

.header-name-tag {
  display: none;
  @media (min-width: 769px) {
    justify-self: flex-end;
    display: initial;
  }
  color: white;
  font-weight: bold;
}

.header-sidebar-button {
  margin-left: 30px;
}

button .material-icons {
  color: white;
}
