<div class="dashboard-container">

   <h3 class="dashboard-title">Last {{displayedTimeSpan}} Days - {{userCalories}} Calories</h3>

   <div class="dashboard-data-container">
      <svg class="dasboard-svg" #svgElementIdentifier>
         <svg:g>
            <svg:path [attr.d]="svgPath" stroke="url(#myGradient)" stroke-width="5" fill="none" />
            <svg:path [attr.d]="svgPathCalories" stroke="red" stroke-width="2" fill="none" />
         </svg:g>
         <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">

               <stop [attr.offset]="redGradientPart" stop-color="red" />
               <stop [attr.offset]="greenGradientPart" stop-color="limegreen" />
               <stop offset="100%" stop-color="limegreen" />

            </linearGradient>
         </defs>
      </svg>

      <mat-slider color="primary" class="calories-slider" (input)="caloriesChangeSubject.next($event)" vertical thumbLabel
         [min]="sliderMinValue" [max]="sliderMaxValue" [value]="sliderValue"></mat-slider>
   </div>

   <mat-slider color="primary" class="days-slider" (input)="daysChangeSubject.next($event)" thumbLabel min="7" max="90" value="7">
   </mat-slider>
</div>