<div class="dashboard-container">
   <div> Last 7 days </div>


   <div class="dashboard-data-container">
      <svg width="600" height="300" class="dasboard-svg">
         <svg:g>
            <svg:path [attr.d]="svgPath" stroke="url(#myGradient)" stroke-width="5" fill="none" />
            <svg:path [attr.d]="svgPathCalories" stroke="red" stroke-width="2" fill="none" />
         </svg:g>
         <defs>
            <linearGradient id="myGradient" gradientTransform="rotate(90)">
           
               <stop [attr.offset]="redGradientPart" stop-color="red" />
               <stop [attr.offset]="redGradientPart" stop-color="green" />
        >
            </linearGradient>
         </defs>
      </svg>

      <mat-slider (input)="sliderChange($event)" vertical thumbLabel [min]="sliderMinValue" [max]="sliderMaxValue" [value]="sliderValue"></mat-slider>
   </div>
</div>