<div class="login-form-container">
    <mat-form-field>
        
        <input matInput formControlName="email" placeholder="Your Email">
        <mat-error *ngIf='email.invalid'>Invalid Email</mat-error>
    </mat-form-field>

    <mat-form-field>
            <mat-hint>At least 9 Characters</mat-hint>
            
            <input type="password" matInput formControlName="password" placeholder="Password">
    </mat-form-field>
</div>






<!-- <form [formGroup]="loginForm">
    <label>
        Email: <input type="text" formControlName="email" required>
    </label>
    <label>
        Password: <input type="password" formControlName="password" required>
    </label>
</form> -->