<div [ngClass]="{'meal-form-container' : 'true', 'background': !hideBackground }">

    <h2>{{meal ? "Edit Meal" : "Add new"}}</h2>

    <form [formGroup]="mealForm" (ngSubmit)="submitForm()">

        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title (e.g. Best lunch ever)" required>
            <mat-error *ngIf="mealForm.controls.title.errors">Please insert a meal title</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="description" placeholder="Short description (Optional)">
        </mat-form-field>

        <mat-form-field>
            <input type="datetime-local" matInput formControlName="time" placeholder="Date and Time (Optional)">
        </mat-form-field>

        <mat-form-field>
            <input type="number" matInput formControlName="calories" placeholder="Calories" required>
            <mat-error *ngIf="mealForm.controls.calories.errors">Please insert the Meal calories</mat-error>
        </mat-form-field>

        <button [disabled]="!mealForm.valid" mat-flat-button type="submit" color="accent">
            <i class="material-icons"> done_outline</i>
        </button>
    </form>
</div>