@import "../../../../material.theme.scss";

.meal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.background {
  background: linear-gradient(
    to top,
    rgba(mat-color($custom, custom-theme-light-blue), 0.3),
    rgb(255, 255, 255, 0)
  );
  form {
    height: 100%;
  }
}

h2 {
  color: mat-color($custom, custom-theme-dark-blue);
  width: 90%;
}

button .material-icons {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

mat-form-field {
  width: 90%;
}
form {
  width: 100%;
}

.mat-flat-button {
  margin-top: 20px;
}
