mat-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: rgb(240, 240, 240);
  justify-content: space-between;
}

.header-main-title {
  color: #25306c;
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  height: 36px;
}

.header-main-title-tracker {
  color: #25306c;
  font-size: larger;
}

.header-name-tag {
  justify-self: flex-end;
}

.header-sidebar-button {
  margin-left: 30px;
}
