@import "../../../material.theme.scss";

.user-profile-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(
    to top,
    mat-color($accent, 500),
    rgb(255, 255, 255, 0)
  );
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

mat-form-field {
  width: 90%;
}

form {
  width: 100%;
  height: 100%;
}

.mat-flat-button {
  margin-top: 20px;
  background-color: cornflowerblue;
}
