@import "../../../material.theme.scss";

.profile-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "edit-profile"
    "profile-stats";
  grid-template-rows: 50% 50%;

  @media (min-width: 769px) {
    margin-left: 50px;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "edit-profile profile-stats";
  }
}

.edit-profile {
  grid-area: edit-profile;
  width: 80%;
  margin: auto;

  @media (min-width: 769px) {
    width: 55%;
    margin: auto;
  }
}

.profile-stats {
  grid-area: profile-stats;
  margin: 5%;
  font-size: small;

  @media (min-width: 769px) {
    margin: auto;
    font-size: revert;
  }
}

.profile-title {
  color: mat-color($primary, 500);
}

.edit-button {
  width: 50px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding-bottom: 20px;
  min-width: 90%;
}

img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}

span {
  color: mat-color($primary, A400);
}
