.user-scroll-viewport {
  height: 90%;
}

.meals-scroll-viewport {
  height: 300px;
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.flex-table-cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  border: solid 1px white;
  text-align: center;
  align-items: center;
  display: flex;
}

.title {
  flex-grow: 2;
}

.description {
  flex-grow: 2;
}

.time {
  flex-grow: 2;
}

.actions {
  flex-grow: 1;
  flex-shrink: 1.1;
  justify-content: space-evenly;
}

.admin-extension-panel {
  background-color: rgba(112, 128, 144, 0.226);
}
