<cdk-virtual-scroll-viewport class="user-scroll-viewport" role="table" itemSize="20">

    <mat-expansion-panel *cdkVirtualFor="let user of users" (opened)="log(user)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{user.firstName}} {{user.lastName}}
            </mat-panel-title>
            <mat-panel-description>
                {{user.email}}  <button mat-button>Click me</button>
            </mat-panel-description>
         
        </mat-expansion-panel-header>

    </mat-expansion-panel>

</cdk-virtual-scroll-viewport>