.meal-panel {
    color : red;
}

.meal-container {
    border: solid greenyellow 3px;
}

.test{
    background-color: white;
    transition: 1s;
}

.test:hover {
    background-color: red;
    transition: 1s;
}

mat-table {
   justify-content: space-between;
}

.column-title {
    flex-grow: 1;
}

.column-description {
    word-break: break-word;
    flex-grow: 1.5;
}

.column-time {
    flex-grow: 1;

}

.column-calories {
    flex-grow: 1;
}

.column-actions {
    flex-grow: 0.5;
    justify-content: center;
}