<div class="meal-container">
    <mat-list>
        <mat-list-item class="flex-table-header">

            <div class="flex-table-cell title">Title</div>
            <div class="flex-table-cell time">Time</div>
            <div class="flex-table-cell description">Description</div>
            <div class="flex-table-cell calories">Calories</div>
            <div class="flex-table-cell actions">Actions</div>

        </mat-list-item>

        <cdk-virtual-scroll-viewport class="meals-scroll-viewport flex-table" role="table" itemSize="20">
            <mat-list-item [ngClass]="meal.overCal ? 'red-bg' : 'green-bg'" *cdkVirtualFor="let meal of meals">

                <div class="flex-table-cell title">{{meal.title}} </div>
                <div class="flex-table-cell time"> {{meal.time | date:'medium'}}</div>
                <div class="flex-table-cell description"> -- {{meal.description}}</div>
                <div class="flex-table-cell calories">{{meal.calories}}</div>
                <div class="flex-table-cell actions">
                    <button mat-raised-button (click)="openEditDialog(meal)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button (click)="deleteMeal(meal._id)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>

            </mat-list-item>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</div>