@import "../../../material.theme.scss";

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #222222;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    mat-color($custom, custom-theme-light-blue),
    rgb(255, 255, 255, 0)
  );
  background: linear-gradient(
    to top,
    mat-color($custom, custom-theme-light-blue),
    rgba(255, 255, 255, 0)
  );
}

.login-button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  font-weight: bold;
  padding-bottom: 30px;
  min-width: 300px;
}

img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
