@import "../material.theme.scss";

mat-sidenav-container {
  height: 100%;
}

.home-sidebar {
  border: 0;
  width: 80px;
  @include bg-accent(800);
}

.sidebar-button {
  @include bg-accent(800);
  transition: color 0.4s ease-in-out;
  @include color-primary(600);
}

.sidebar-button-active {
  @include bg-primary(A300);
  @include color-primary(A400);
  border-left: solid 4px;
  transition: color 0.4s ease-in-out;
}

.sidebar-add-button-active {
  @include bg-primary(700);
  border-left: solid 4px;
  @include color-accent(50);
  animation-name: flashingAnimationAdd;
  animation-duration: 1s;
}

.sidebar-search-button-active {
  @include bg-primary(700);
  border-left: solid 4px;
  @include color-accent(50);
  animation-name: flashingAnimationSearch;
  animation-duration: 1s;
}

@keyframes flashingAnimationAdd {
  0% {
    color: rgba(255, 188, 87, 0);
  }
  30% {
    color: mat-color($primary, A200);
  }
  100% {
    @include color-accent(50);
  }
}



@keyframes flashingAnimationSearch {
  0% {
    color: rgba(255, 188, 87, 0);
  }
  30% {
    color: mat-color($primary, A200);
  }
  100% {
    @include color-accent(50);
  }
}

.sidebar-add-button-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

button {
  border-radius: 0;
  width: 100%;
  height: 60px;
  line-height: 13px;
  font-size: small;
  text-justify: auto;
}