mat-sidenav-container {
  height: 100%;
}

.home-sidebar {
  border: 0;
  width: 80px;
  background-color: #404668;
}

.sidebar-button {
  background-color: #404668;
  transition: color 0.4s ease-in-out;
}

.sidebar-button-active {
  background-color: #406852;
  border-left: solid 4px;
  color: greenyellow;
  transition: color 0.4s ease-in-out;
}

.sidebar-add-button-active {
  background-color: #8b7b1e;
  border-left: solid 4px;
  color: rgb(255, 188, 87);
  animation-name: flashingAnimationAdd;
  animation-duration: 1s;
}

@keyframes flashingAnimationAdd {
  0% {
    color: rgba(255, 188, 87, 0);
  }
  50% {
    color: yellow;
  }
  100% {
    color: rgb(255, 188, 87);
  }
}

.sidebar-search-button-active {
  background-color: #8b7b1e;
  border-left: solid 4px;
  color: rgb(87, 235, 255);
  animation-name: flashingAnimationSearch;
  animation-duration: 1s;
}

@keyframes flashingAnimationSearch {
  0% {
    color: rgba(255, 188, 87, 0);
  }
  50% {
    color: yellow;
  }
  100% {
    color: rgb(87, 235, 255);
  }
}

.sidebar-add-button-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

button {
  border-radius: 0;
  width: 100%;
  height: 60px;
  line-height: 13px;
  font-size: small;
  text-justify: auto;
}
