<app-top-notification></app-top-notification>

<mat-sidenav-container>
        <!-- <mat-sidenav *ngIf="showSideBar" #sidenav opened mode="side" class = "home-sidebar"> FOR DEV PURPOSE-->
        <mat-sidenav #sidenav opened mode="side" class="home-sidebar">
                <button [ngClass] = "activeButton == 'HOME' ? 'sidebar-button-active' : 'sidebar-button'" mat-stroked-button (click)="redirectToHome()"><i
                                class="material-icons">home</i><br /> Home </button>
                <button [ngClass] = "activeButton == 'USER' ? 'sidebar-button-active' : 'sidebar-button'" mat-stroked-button (click)="redirectToUser()">
                        <i class="material-icons">person</i><br />Profile</button>
                <button [ngClass] = "activeButton == 'ADMIN' ? 'sidebar-button-active' : 'sidebar-button'" *ngIf="isSuperUser(user && user.authLevel)" mat-stroked-button
                        (click)="redirectToAdmin()"><i class="material-icons">people</i><br /> Admin </button>
        </mat-sidenav>

        <mat-sidenav-content class="home-content">
                <!-- <app-header *ngIf="showSideBar"></app-header> FOR DEV PURPOSE-->
                <app-header [sidenavRef]="sidenav"> </app-header>
                <router-outlet></router-outlet>
        </mat-sidenav-content>

</mat-sidenav-container>