@import "../material.theme.scss";

mat-sidenav-container {
  height: 100%;
}

.home-sidebar {
  border: 0;
  width: 30px;
  @media (min-width: 769px) {
    width: 80px;
  }
  background-color: mat-color($custom, custom-theme-light-blue);
}

.sidebar-button {
  background-color: mat-color($custom, custom-theme-light-blue);
  transition: color 0.4s ease-in-out;
  color: rgb(255, 255, 255);
  width: 100%;
}

.sidebar-button-active {
  background-color: mat-color($custom, custom-theme-dark-blue);
  color: rgb(255, 255, 255);
  border-left: solid 4px;
  transition: color 0.4s ease-in-out;
}

.sidebar-add-button-active {
  background-color: mat-color($custom, custom-theme-light-orange);
  border-left: solid 4px;
  color: white;
  animation-name: flashingAnimationAdd;
  animation-duration: 1s;
}

.sidebar-search-button-active {
  background-color: mat-color($custom, custom-theme-light-orange);
  border-left: solid 4px;
  color: white;
  animation-name: flashingAnimationSearch;
  animation-duration: 1s;
}

@keyframes flashingAnimationAdd {
  0% {
    color: mat-color($custom, custom-theme-dark-blue);
  }
  30% {
    color: mat-color($custom, custom-theme-light-blue);
  }
  100% {
    color: white;
  }
}

@keyframes flashingAnimationSearch {
  0% {
    color: mat-color($custom, custom-theme-dark-blue);
  }
  30% {
    color: mat-color($custom, custom-theme-light-blue);
  }
  100% {
    color: white;
  }
}

.sidebar-add-button-hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

button {
  border-radius: 0;
  width: 100%;
  height: 30px;
  min-width: 30px;
  padding: 0px;
  @media (min-width: 769px) {
    height: 60px;
    min-width: initial;
    padding: initial;
  }
  line-height: 13px;
  font-size: small;
  text-justify: auto;
}

button span {
  display: none;
  @media (min-width: 769px) {
    display: initial;
  }
}
