.user-profile-container {
  margin-left: 50px;
}

.user-profile-title {
  color: red;
}

.edit-button {
  width: 50px;
}

.user-profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-profile-form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding-bottom: 20px;
  min-width: 300px;
}

img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}
