<div class="register-form-container">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" required>
            <mat-error *ngIf="registerForm.controls.firstName.errors">Please insert a first name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" required>
            <mat-error *ngIf="registerForm.controls.lastName.errors">Please insert a last name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Your Email" required>
            <mat-error *ngIf="registerForm.controls.email.errors">Invalid Email</mat-error>
        </mat-form-field>

 


    </form>

    <button mat-raised-button (click)="editing ? save() : edit()">{{buttonMessage}}</button>
</div>