@import "../../../material.theme.scss";

.user-profile-container {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.user-profile-title {
  color: mat-color($primary, 500);
}

.edit-button {
  width: 50px;
}

.user-profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-profile-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding-bottom: 20px;
  min-width: 400px;
}

img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}


span {
  color : mat-color($primary, A400)
}