@import "../../../../../material.theme.scss";

.green-bg {
  background: white;
  transition: 1s;
}

.red-bg {
  background: rgba(mat-color($custom, custom-theme-light-red), 0.5);
  transition: 1s;
}

.red-bg:hover {
  background: rgba(mat-color($custom, custom-theme-light-blue), 0.3);
  transition: 1s;
  font-weight: 900;
}

.green-bg:hover {
  background: rgba(mat-color($custom, custom-theme-light-blue), 0.3);
  transition: 1s;
  font-weight: 900;
}

mat-table {
  justify-content: space-between;
}

.meals-scroll-viewport {
  height: 900px;
  @media (min-width: 769px) {
    height: 480px;
  }
}

div {
  box-sizing: border-box;
}

.flex-table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.flex-table-cell {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  @media (min-width: 769px) {
    justify-content: initial;
  }
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
}

.time {
  grid-area: time;
}

.calories {
  grid-area: calories;
}

.actions {
  justify-content: space-evenly;
  grid-area: actions;
}

button .material-icons {
  color: white;
}

button {
  min-width: 40px;
  padding: 0px;
}

.flex-table-header {
  background: mat-color($custom, custom-theme-light-orange);
}
