div {
  z-index: 2;
  background-color: orange;
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: x-large;
  pointer-events: none;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.notification-shown {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.notification-hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
