<div class="register-form-container">
    <form [formGroup]="addUserForm" (ngSubmit)="submitForm()">

        <h2>New User</h2>

        <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" required>
            <mat-error *ngIf="addUserForm.controls.firstName.errors">Please insert a first name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" required>
            <mat-error *ngIf="addUserForm.controls.lastName.errors">Please insert a last name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Your Email" required>
            <mat-error *ngIf="addUserForm.controls.email.errors">Invalid Email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Your Password" required>
            <mat-error *ngIf="addUserForm.controls.password.errors">Please insert a password</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="authLevel" matNativeControl placeholder="User Role">
                <mat-option value="USER">User</mat-option>
                <mat-option value="USER_MANAGER">User manager</mat-option>
                <mat-option value="ADMIN">Admin</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit">Add New</button>
    </form>
</div>