<div class="register-form-container">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" required>
            <mat-error *ngIf="registerForm.controls.firstName.errors">Please insert a first name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" required>
            <mat-error *ngIf="registerForm.controls.lastName.errors">Please insert a last name</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" placeholder="Your Email" required>
            <mat-error *ngIf="registerForm.controls.email.errors">Invalid Email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Your Password" required>
            <mat-error *ngIf="registerForm.controls.password.errors">Please insert a password</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput formControlName="repeatPassword" placeholder="Your Password... again"
                [errorStateMatcher]="errorStateMatcher">
            <mat-error *ngIf="registerForm.errors?.passwordRepeatError">Passwords must match</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit">Register</button>
    </form>
</div>