@import "~@angular/material/theming";

$ct-light-primary: mat-palette($mat-light-green);
$ct-light-accent: mat-palette($mat-teal);
$ct-light-warn: mat-palette($mat-red);

$ct-light-theme: mat-dark-theme(
  $ct-light-primary,
  $ct-light-accent,
  $ct-light-warn
);

@include mat-core();
@include angular-material-theme($ct-light-theme);

$primary: map-get($ct-light-theme, primary);
$accent: map-get($ct-light-theme, accent);
$warn: map-get($ct-light-theme, warn);
