@import "~@angular/material/theming";

$ct-light-primary: mat-palette($mat-light-blue);
$ct-light-accent: mat-palette($mat-orange);
$ct-light-warn: mat-palette($mat-red);

$ct-light-theme: mat-light-theme(
  $ct-light-primary,
  $ct-light-accent,
  $ct-light-warn
);

$custom-collection: (
  custom-theme-dark-blue: #8393ca,
  custom-theme-light-blue: #cad6f1,
  custom-theme-light-orange: #ffc66a,
  custom-theme-light-red: #fb7b7e,
  custom-theme-white: #fff,
  contrast: (
    warning: #000000,
    success: #ffffff,
    danger: #ffffff
  )
);

$my-app-custom: mat-palette($custom-collection, custom);

$ct-light-theme: map_merge(
  $ct-light-theme,
  (
    custom: $my-app-custom
  )
);

$custom-typography: mat-typography-config(
  $font-family: "Montserrat, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core();
@include angular-material-theme($ct-light-theme);
@include angular-material-typography($custom-typography);

$primary: map-get($ct-light-theme, primary);
$accent: map-get($ct-light-theme, accent);
$warn: map-get($ct-light-theme, warn);
$custom: map-get($ct-light-theme, custom);

.mat-darkblue {
  background-color: mat-color($custom, custom-theme-dark-blue);
  color: mat-color($custom, success-contrast);
}

.mat-lightblue {
  background-color: mat-color($custom, custom-theme-light-blue);
  color: mat-color($custom, success-contrast);
}
.mat-lightorange {
  background-color: mat-color($custom, custom-theme-light-orange);
  color: mat-color($custom, success-contrast);
}

.mat-lightred {
  background-color: mat-color($custom, custom-theme-light-red);
  color: mat-color($custom, success-contrast);
}

.mat-white {
  background-color: mat-color($custom, custom-theme-white);
  color: mat-color($custom, success-contrast);
}

.meal-container .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 40px 30px 50px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title calories time"
    "description description description"
    "actions actions actions";

  border-bottom: 1px solid mat-color($custom, custom-theme-light-blue);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 35% 15% 10%;
    grid-template-areas: "title time description calories actions";
    height: 42px;
  }
}

.meal-container .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 40px 40px 50px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title title time"
    "description description calories"
    "actions actions actions";

  border-bottom: 1px solid mat-color($custom, custom-theme-light-blue);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 35% 15% 10%;
    grid-template-areas: "title time description calories actions";
    height: 55px;
  }
}

.meal-container .mat-list-base .mat-list-item {
  height: 130px;
  @media (min-width: 769px) {
    height: 55px;
  }
  color: mat-color($custom, custom-theme-dark-blue);
}

.meal-container .mat-list-base .flex-table-header {
  color: white;
  font-weight: 900;
}

.user-scroll-viewport .mat-list-base .mat-list-item {
  height: 150px;
  @media (min-width: 769px) {
    height: 55px;
  }
  color: mat-color($custom, custom-theme-dark-blue);
}

.user-scroll-viewport .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 60px 45px 45px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title calories time"
    "description description description"
    "actions actions actions";

  border-bottom: 1px solid mat-color($custom, custom-theme-light-blue);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 35% 15% 10%;
    grid-template-areas: "title time description calories actions";
    height: 55px;
  }
}

.user-scroll-viewport .mat-list-base .header-row .mat-list-item-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}

.user-scroll-viewport .mat-expansion-panel .admin-extension-panel {
  height: 90px;
  @media (min-width: 769px) {
    height: initial;
  }
}

.meal-form-container {
  form {
    mat-form-field {
      .mat-form-field-wrapper {
        label {
          color: mat-color($custom, custom-theme-dark-blue);
        }
        color: mat-color($custom, custom-theme-dark-blue);
      }
      .mat-form-field-underline {
        background-color: mat-color($custom, custom-theme-dark-blue);
      }
    }
  }
}

.filter-menu-container {
  form {
    mat-form-field {
      .mat-form-field-wrapper {
        label {
          color: mat-color($custom, custom-theme-dark-blue);
        }
        color: mat-color($custom, custom-theme-dark-blue);
      }
      .mat-form-field-underline {
        background-color: mat-color($custom, custom-theme-dark-blue);
      }
    }
  }
}

.profile-form-container {
  form {
    mat-form-field {
      .mat-form-field-wrapper {
        label {
          color: mat-color($custom, custom-theme-dark-blue);
        }
        color: mat-color($custom, custom-theme-dark-blue);
      }
      .mat-form-field-underline {
        background-color: mat-color($custom, custom-theme-dark-blue);
      }
    }
  }
}

.register-form-container {
  form {
    mat-form-field {
      .mat-form-field-wrapper {
        label {
          color: mat-color($custom, custom-theme-white);
        }
        color: mat-color($custom, custom-theme-white);
      }
      .mat-form-field-underline {
        background-color: mat-color($custom, custom-theme-white);
      }
    }
  }
}

.login-container {
  form {
    mat-form-field {
      .mat-form-field-wrapper {
        label {
          color: mat-color($custom, custom-theme-white);
        }
        color: mat-color($custom, custom-theme-white);
      }
      .mat-form-field-underline {
        background-color: mat-color($custom, custom-theme-white);
      }
    }
  }
}
