@import "~@angular/material/theming";

$ct-light-primary: mat-palette($mat-light-green);
$ct-light-accent: mat-palette($mat-teal);
$ct-light-warn: mat-palette($mat-red);

$ct-light-theme: mat-dark-theme(
  $ct-light-primary,
  $ct-light-accent,
  $ct-light-warn
);

@include mat-core();
@include angular-material-theme($ct-light-theme);

$primary: map-get($ct-light-theme, primary);
$accent: map-get($ct-light-theme, accent);
$warn: map-get($ct-light-theme, warn);

.meal-container .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 40px 30px 50px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title calories time"
    "description description description"
    "actions actions actions";

  border-bottom: 1px solid mat-color($accent, 700);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 15% 20% 35% 10% 20%;
    grid-template-areas: "title time description calories actions";
    height: 42px;
  }
}

.meal-container .mat-list-base .mat-list-item {
  height: 120px;
  @media (min-width: 769px) {
    height: initial;
  }
}

.meal-container .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 40px 30px 50px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title calories time"
    "description description description"
    "actions actions actions";

  border-bottom: 1px solid mat-color($accent, 700);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 15% 20% 35% 10% 20%;
    grid-template-areas: "title time description calories actions";
    height: 42px;
  }
}

.meal-container .mat-list-base .mat-list-item {
  height: 120px;
  @media (min-width: 769px) {
    height: initial;
  }
}

.user-scroll-viewport .mat-list-base .mat-list-item {
  height: 120px;
  @media (min-width: 769px) {
    height: initial;
  }
}

.user-scroll-viewport .mat-list-base .mat-list-item .mat-list-item-content {
  display: grid;
  grid-template-rows: 40px 30px 50px;
  grid-template-columns: 20% 20% auto;
  grid-template-areas:
    "title calories time"
    "description description description"
    "actions actions actions";

  border-bottom: 1px solid mat-color($accent, 700);
  @media (min-width: 769px) {
    grid-template-rows: 100%;
    grid-template-columns: 15% 20% 35% 10% 20%;
    grid-template-areas: "title time description calories actions";
    height: 42px;
  }
}

.user-scroll-viewport .mat-list-base .header-row .mat-list-item-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 769px) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
}



.user-scroll-viewport .mat-expansion-panel .admin-extension-panel {
  height: 90px;
  @media (min-width: 769px) {
    height: initial;
  }
}