<div class="edit-meal-form-container">
  <form [formGroup]="mealForm" (ngSubmit)="submitForm()">

    <h2>Edit Meal</h2>

    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title (e.g. Best lunch ever)" required>
      <mat-error *ngIf="mealForm.controls.title.errors">Please insert a meal title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Short description (Optional)">
    </mat-form-field>

    <mat-form-field>
      <input type="datetime-local" value="{{data.time | date : 'yyyy-MM-ddThh:mm'}}" matInput formControlName="time"
        placeholder="Date and Time (Optional)">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput formControlName="calories" placeholder="Calories" required>
      <mat-error *ngIf="mealForm.controls.calories.errors">Please insert the Meal calories</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit">Confirm</button>
  </form>
</div>